.App {}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 88px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  font-family: sans-serif;
}

.movie {
  background-color: #eee;
  margin: 12px;
  padding: 8px;
}

.movie img {
  width: 200px;
  height: 300px;
}

.movie .actors {
  display: flex;
}

.movie .actors .actor {
  margin: 12px;
}

.movie .actors .actor img {
  width: 200px;
  height: 300px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-bottom: 10px solid black;
  margin-bottom: 10px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid black;
}